@model KurLog.Models.UserModel
@{
    ViewData["Title"] = "UpdateUser";
}
<br />
<div asp-validation-summary="All" class="text-danger"></div>
@using (Html.BeginRouteForm("UpdateUser", "userModel", FormMethod.Post))
{
    @Html.HiddenFor(x => x.Id)
    @Html.LabelFor(x => x.FirstName)
    @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control" })
    @Html.LabelFor(x => x.LastName)
    @Html.TextBoxFor(x => x.LastName, new { @class = "form-control" })
    @Html.LabelFor(x => x.UserName)
    @Html.TextBoxFor(x => x.UserName, new { @class = "form-control" })
    @Html.LabelFor(x => x.Password)
    @Html.TextBoxFor(x => x.Password, new { @class = "form-control", @type = "password" })
    @Html.LabelFor(x => x.Authority)
    @Html.TextBoxFor(x => x.Authority, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Update</button>
}

